@import './assets/styles.scss';

#dashboard-wrapper {
  height: 100%;
}

#bills-list-wrapper {
  overflow: auto;
  height: 524px;
}

.bill-hover-menu {
  display: none;

  mat-icon:hover {
    font-size: 1.8em;
    cursor: pointer;

    &.check {
      color: #99d98c;
    }

    &.edit {
      color: rgb(208, 255, 255);
    }

    &.close {
      color: rgb(255, 131, 131);
    }

    &.delete {
      color: rgb(255, 131, 131);
    }
  }

  & mat-icon:first-of-type {
    margin-right: 6px;
  }
}

.bill-field {
  border-radius: 5px;
  padding: 2px 4px;
  &.disabled {
    background: none;
    border: 1px solid transparent;
  }

  &:not(.disabled, .mat-mdc-select) {
    //cursor: pointer;
    border: 1px solid rgb(99, 121, 203);
  }
}

:host ::ng-deep {
  .mat-mdc-header-cell:not(:last-of-type) {
    padding-left: 20px !important;
  }

  .mat-mdc-cell {
    width: 20% !important;
  }
  //.mat-column-name {
  //  width: 100px !important;
  //}
  //
  //.mat-column-amount {
  //  width: 100px !important;
  //}
  //
  //.mat-column-date {
  //  width: 100px !important;
  //}
  //
  //.mat-column-necessity {
  //  width: 50px !important;
  //}
  //
  //.mat-column-category {
  //  width: 100px !important;
  //}

  .mat-mdc-form-field-flex {
    height: 100% !important;
  }

  .mdc-notched-outline {
    height: 100% !important;
  }

  .mat-mdc-text-field-wrapper {
    height: 100% !important;
  }

  #bills-table {
    //height: 100%;
    th {
      //z-index: unset !important;
    }

    td.mat-mdc-cell {
      position: relative;
      overflow: visible;
    }

    & tr.mat-mdc-row {
      height: 48px !important;
    }

    & tr:hover {
      background-color: #f5f5f5;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    & tr.selected {
      background-color: #f5f5f5;
      font-style: italic;
      color: #fa6060;
      outline: 2px dashed #ff5867;
      outline-offset: -5px;

      &:hover {
        background-color: #e3e3e3;
      }
    }

    & tr:hover .bill-hover-menu {
      background-color: #2b2d42;
      color: #edf2f4;
      position: absolute;
      border-radius: 16px;
      top: -20px;
      right: 32px;
      display: flex;
      text-align: center;
      padding: 4px 8px;
      z-index: 101;
    }
  }

  #bills-list-wrapper::-webkit-scrollbar {
    width: .5em;
    border-radius: 10px;
    margin-left: 5px;
  }

  #bills-list-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  #bills-list-wrapper::-webkit-scrollbar-thumb {
    background-color: #2b2d42;
    border-radius: 10px;
    //outline: 1px solid slategrey;
  }
}



.confirm-menu-btn.mdc-button  {
  color: #fff !important;
  border-radius: 50%;
  padding: 0;
  min-width: 36px;
  min-height: 36px;

  &:first-of-type:hover {
    background-color: #fa6060;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(199, 199, 199, 0.7);
  }
}

// targeting the overlay elements which can only be done using ::ng-deep with no :host prefix.
::ng-deep {
  .cdk-overlay-connected-position-bounding-box:has(.mat-mdc-menu-panel.confirm-menu) {
    transform: translate(22px, 15px);
  }

  .confirm-menu {
    .confirm-menu-text {
      color: rgb(255, 131, 131);
      margin-right: 5px;
    }
  }

  .mat-mdc-menu-panel.confirm-menu {
    padding: 0 10px;
    background-color: rgba(43, 45, 66, 0.75) !important;
    color: #e3e3e3 !important;
    max-width: unset !important;

    & .mat-mdc-menu-content {
      padding: 6px !important;
    }
  }
}


